{% extends "base.html" %}
{% block start %}
{% load static %}

<div class="content-wrapper">
<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white me-2">
<i class="mdi mdi-home"></i>
</span> Messages
</h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
</li>
</ul>
</nav>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Contact Messages</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Message</th>
                  <th>User Id</th>
                  <th>Date</th>
              </tr>
            </thead>
            <tbody>
            {% if user_messages %}
            {% for user_id, user_messages in user_messages.items %}
                <tr>
                    <td>{{ user_messages.Name }}</td>
                    <td>{{ user_messages.Email }}</td>
                    <td>{{ user_messages.Phone }}</td>
                    <td>{{ user_messages.Message }}</td>
                    <td>{{ user_messages.UserId }}</td>
                    <td>{{ user_messages.Date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No contact messages found.</td>
            </tr>
        {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block extra_scripts %}
<!-- Add additional scripts for this page -->
<!--    <script type="text/JavaScript" src="{% static 'scripts/save-location.js' %}"></script>-->
{% endblock %}