{% extends "base.html" %}
{% block start %}
{% load static %}

<div class="content-wrapper">
<div class="page-header">
<h3 class="page-title">
<span class="page-title-icon bg-gradient-primary text-white me-2">
<i class="mdi mdi-home"></i>
</span> Transaction Activity
</h3>
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">
<span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
</li>
</ul>
</nav>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Transaction Data</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                  <th>Display Name</th>
                  <th>Transaction Type</th>
                  <th>Amount</th>
                  <th>Applied Date</th>
                  <th>Due Date</th>
                  <th>Due Amount</th>
                  <th>Period</th>
                  <th>Uid</th>
                  <th>Transaction Key</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
             {% if transaction_activity_data %}
                {% for transaction_id, transaction_data in transaction_activity_data.items %}
                    <tr>
                        <td>{{ transaction_data.displayName }}</td>
                        <td>{{ transaction_data.trxType }}</td>
                        <td>{{ transaction_data.amountText }}</td>
                        <td>{{ transaction_data.appliedDate }}</td>
                        <td>{{ transaction_data.dueDate }}</td>
                        <td>{{ transaction_data.dueAmount }}</td>
                        <td>{{ transaction_data.period }}</td>
                        <td>{{ transaction_data.uid }}</td>
                        <td>{{ transaction_data.transactionKey }}</td>
                        <td>{{ transaction_data.status }}</td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user_id }}">
                                <input type="hidden" name="transaction_id" value="{{ transaction_id }}">
                                <button type="submit" class="btn btn-info">Edit</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No transaction data found.</td>
            </tr>
        {% endif %}



            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    function openImagePopup(imageUrl) {
        window.open(imageUrl, 'Image Popup', 'width=600,height=400,resizable=yes');
    }
</script>

<!-- Add additional scripts for this page -->
<!--    <script type="text/JavaScript" src="{% static 'scripts/save-location.js' %}"></script>-->
{% endblock %}